<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

<h1>Departures</h1>

<table>
  <tr>
    <th>Airport Name</th>

    <th>City</th>

    <th>Country</th>
  </tr>
  <% for departure in @departures %>
  <tr>
    <td><%= departure.departure_airport_name %></td>

    <td><%= departure.departure_city %></td>

      <td><%= departure.dep_country %></td>
      <td>
      <form method="get" action="/departures/<%= departure.id %>/edit">
        <button class="big-button button">Edit</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<form method="get" action="/departures/new">

  <button class="big-button button">Add a new Departure Airport</button>

</form>

</div>

</main>
<aside class="sidebar-first"></aside>
<aside class="sidebar-second"></aside>
</div>
</section>
</div>
