<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

<h2>Add a new Departure Airport</h2>
<form method="POST" action="/departures">
  <div class="form-wrapper">

    <div class="field-group">
      <label for="departure_airport_name">Airport Name:</label>
      <div class="field">
        <input type="text" name="departure_airport_name" id="departure_airport_name"/>
      </div>
    </div>

    <div class="field-group">
      <label for="departure_city">City:</label>
      <div class="field">
        <input type="text" name="departure_city" id="departure_city"/>
      </div>
    </div>

    <div class="field-group">
      <label for="dep_country">Country:</label>
      <div class="field">
        <input type="text" name="dep_country" id="dep_country"/>
      </div>
    </div>

    <button class="big-button button">Submit
    </button>

  </div>
</form>

</main>
<aside class="sidebar-first"></aside>
<aside class="sidebar-second"></aside>
</div>
</section>
</div>
