<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main"></main>
      <aside class="sidebar-first"></aside>
      <aside class="sidebar-second"></aside>
    </div>
  </section>
</div>
