<h2>Search Flights</h2>


<form method="post" action="flights/search">
  <p>Date:</p>
  <p><input type="date" name="flight_date"></p>
  <p>Departure: </p>
  <select name="departure_id" id="departure_select">
    <% @departures.each do |departure| %>
    <option value="<%= departure.id %>"><%= departure.departure_city %></option>
    <% end %>
  </select>
  <p>Destination:</p>
  <select name="destination_id" id="destination_select">
    <% @destinations.each do |destination| %>
    <option value="<%= destination.id %>"><%= destination.destination_city %></option>
    <% end %>
  </select>
  <p><input type="submit"></p>
</form>
