  <div class="landing_page">
    <div class="top_space">
    </div>
    <div class="header_far">

    It's time to <span class="title_pop">fleeawa</span>......

    </div>
    <div class="cover">

      <form  class="flex-form" method="post" action="flights/search">


        <label for="from">Date</label>
        <input type="date" name="flight_date" value="2017-11-30">

        <label for="from">Fae</label>


        <select name="departure_id" id="departure_select">
          <option value="-1">Search All</option>
          <% @departures.each do |departure| %>
          <option value="<%= departure.id %>"><%= departure.departure_city %></option>
          <% end %>
        </select>

        <label for="from">Tae</label>


        <select name="destination_id" id="destination_select">
           <option value="-1">Search All</option>
          <% @destinations.each do |destination| %>
          <option value="<%= destination.id %>"><%= destination.destination_city %></option>
          <% end %>
        </select>

        <input class="button1" type="submit" value="Go">


      </form>

    </div>
    <div>
    </div>
