<!DOCTYPE html>
<html>
<head>
  <title>FleeAwa.io</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/airlines">Airlines</a>
      </li>
      <li>
        <a href="/destinations">Destinations</a>
      </li>
      <li>
        <a href="/flights">Flights</a>
      </li>
      <li>
        <a href="/departures">Departures</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
