<!DOCTYPE html>
<html>
<head>
<title>FleeAwa.io</title>
<link rel="stylesheet" type="text/css" href="../css/alistyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
</head>

<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/log_in">Admin</a>
      </li>
      <li>
        <a href="/flights">Flights</a>
      </li>
      <li>
        <a href="/departures">Departures</a>
      </li>
      <li>
        <a href="/destinations">Destinations</a>
      </li>
      <li>
        <a href="/airlines">Airlines</a>
      </li>
      <li>
        <a href="../flights/itinerary">Itinerary</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
