<h1>Destinations</h1>

<table>
  <tr>
    <th>Airport Name</th>
    <th></th>
    <th>City</th>
    <th></th>
    <th>Country</th>
  </tr>
  <% for destination in @destinations %>
  <tr>
    <td><%= destination.destination_airport_name %></td>
    <td>|</td>
    <td><%= destination.destination_city %></td>
    <td>|</td>
    <td><%= destination.country %></td>
  </tr>
  <% end %>
</table>
