<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

        <h1>Destinations</h1>

        <form method="get" action="/destinations/new">

          <button class="button2">Add a new Destination Airport</button>

        </form>

        <table>
          <tr>
            <th>Airport Name</th>

            <th>City</th>

            <th>Country</th>
          </tr>
          <% for destination in @destinations %>
          <tr>
            <td><%= destination.destination_airport_name %></td>

            <td><%= destination.destination_city %></td>

            <td><%= destination.country %></td>
            <td>
              <form method="get" action="/destinations/<%= destination.id %>/edit">
                <button class="button2">Edit</button>
              </form>
            </td>
          </tr>
          <% end %>
        </table>



      </main>
      <aside class="sidebar-first"></aside>
      <aside class="sidebar-second"></aside>
    </div>
  </section>
</div>
