<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

<span class="heading_pop">Add a new Destination</span>
<form method="POST" action="/destinations">
  <div class="form-wrapper">

    <div class="field-group">
      <label for="destination_airport_name">Airport Name:</label>
      <div class="field">
        <input type="text" name="destination_airport_name" id="destination_airport_name"/>
      </div>
    </div>

    <div class="field-group">
      <label for="destination_city">City:</label>
      <div class="field">
        <input type="text" name="destination_city" id="destination_city"/>
      </div>
    </div>

    <div class="field-group">
      <label for="country">Country:</label>
      <div class="field">
        <input type="text" name="country" id="country"/>
      </div>
    </div>

    <button class="big-button button">Submit
    </button>

  </div>
</form>

</main>
<aside class="sidebar-first"></aside>
<aside class="sidebar-second"></aside>
</div>
</section>
</div>
