<h2>Add a new Destination</h2>
<form method="POST" action="/destinations">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="destination_airport_name">Airport Name:</label>
      <input type="text" name="destination_airport_name" id="destination_airport_name"/>
    </div>

    <div class="form-el">
      <label for="destination_city">Phone Number:</label>
      <input type="text" name="destination_city" id="destination_city"/>
    </div>

    <div class="form-el">
      <label for="country">Email:</label>
      <input type="text" name="country" id="country"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Destination"/>
    </div>

  </div>
</form>
