
<h2>
  Edit Airline Details
</h2>

<form method="post" action="/airlines/<%= @airline.id %>">
  <input type="hidden" name="_method" value="put"/>

    <div class="field-group">
      <label for="airline-name-field" class="label">Airline Name:</label>
      <div class="field">
        <input
          type="text"
          name="airline_name"
          id="airline-name-field"
          value="<%= @airline.airline_name %>"
          required
        />
     </div>
    </div>

    <div class="field-group">
      <label for="airline-phone-field" class="label">Website:</label>
      <div class="field">
        <input
          type="text"
          name="website"
          id="website-field"
          value="<%= @airline.wesbite %>"
          required
        />
      </div>
    </div>

    <div class="field-group">
      <label for="logo-field" class="label">Logo:</label>
      <div class="field">
        <input
          type="text"
          name="logo"
          id="airline-logo"
          value="<%= @airline.logo %>"
          required
        />
      </div>
    </div>



  <button class="big-button button">Update Airline</button>

</form>
