<h1>Airlines</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Phone</th>
    <th></th>
    <th>Email</th>
  </tr>
  <% for airline in @airlines %>
  <tr>
    <td><%= airline.airline_name %></td>
    <td>|</td>
    <td><%= airline.phone %></td>
    <td>|</td>
    <td><%= airline.email %></td>
    <td>
      <form method="get" action="/airlines/<%= airline.id %>/edit">
        <button class="big-button button">Edit</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>

<form method="get" action="/airlines/new">

  <button class="big-button button">Add a new Airline</button>

</form>
