<h2>Add a new Airline</h2>
<form method="POST" action="/airlines">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="airline_name">Airline Name:</label>
      <input type="text" name="airline_name" id="airline_name"/>
    </div>

    <div class="form-el">
      <label for="phone">Phone Number:</label>
      <input type="text" name="phone" id="phone"/>
    </div>

    <div class="form-el">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Airline"/>
    </div>

  </div>
</form>
