<div class="wrapper">
  <section class="content">
    <div class="columns">
      <main class="main">

        <h1 class="title_pop">Flightseeee</h1>

        <form class="flex-form form-width" method="post" action="../flights/search">

          <label for="from">Date</label>
          <input type="date" name="flight_date" value="2017-11-30">

          <label for="from">Fae</label>

          <select name="departure_id" id="departure_select">
            <option value="-1">Search All</option>
            <% @departures.each do |departure| %>
          <option va<div class="wrapper"> <section class="content"> <div class="columns"> <main class="main"> <h1 class="title_pop">Flights</h1>

          <form class="flex-form form-width" method="post" action="../flights/search">

            <label for="from">Date</label>
            <input type="date" name="flight_date" value="2017-11-30">

            <label for="from">Fae</label>

            <select name="departure_id" id="departure_select">
              <option value="-1">Search All</option>
              <% @departures.each do |departure| %>
              <option value="<%= departure.id %>"><%= departure.departure_city %></option>
              <% end %>
            </select>

            <label for="from">Tae</label>

            <select name="destination_id" id="destination_select">
              <option value="-1">Search All</option>
              <% @destinations.each do |destination| %>
              <option value="<%= destination.id %>"><%= destination.destination_city %></option>
              <% end %>
            </select>

            <input class="button1" type="submit" value="Go">

          </form>

        </main>
        <aside class="sidebar-first"></aside>
        <aside class="sidebar-second"></aside>
      </div>
    </section>
  </div>
